{{define "title"}}sevki.io/email{{end}}
{{define "content"}}
<h1>
email
</h1>
Hi!
<p/>
You are probably here because you've sent me an email and got a link to this page as a response. 
<p/>

Here's what's going on? I am trying to change my communication habits. From now on I'll only be using my email s@sevki.io 
<p/>
You see; I, like many others, have been so overwhelmed with GitHub notifications, multiple different slacks and what have you. I really don't want to spend rest of my life sifting through notifications on my phone.
<p/>
So, I have built my own email server. It is unique to my own personal needs. It, for instance, replies automatically to cold recruitment emails, scans files for viruses, and knows PGP at the server level. 
<p/>
That does mean that there are some algorithms standing between your emails and my eyes, mostly identity information. Here are some stuff you can do to makesure I can see your email
<p/>
<ul>
  <li>Sign your emails with <a href="https://www.openpgp.org/">PGP</a> or <a href="http://www.dkim.org/">DKIM</a></li>
</ul>

{{ end }}
