{{define "title"}}sevki.io/hiring{{end}}


{{define "content"}}
<h1>
Hiring
</h1>
<p>
Thank you for your interest in hiring me. 
</p>
However, I do not respond to automated recruitment emails and your email really looked like one.
<p>
If you'd like to still talk to me about a job please check my <a href="https://github.com/sevki">github profile</a>
and my blog and if you'd still like to hire me after that write a more personalized email.  
</p>
Seriously. I have trained an AI to catch cold emails. Please see <a href="https://sevki.io/email">sevki.io/email</a> for general information about emailing me.
{{ end }}
