{{define "title"}}sevki.io{{end}}


{{define "content"}}

{{ template "header" . }}
{{ template "projects" . }}
{{ template "repos" . }}
{{ template "feed" . }}
{{ template "other" . }}

{{end}}  <!-- context -->

{{ define "repos" }}
	{{ $repos := json "https://api.github.com/users/sevki/repos?page=1&per_page=100&sort=created" }}
	<br/><b style="display:inline;">Repos</b><br/>
	<ul>
		{{ range $repos }}
		{{ template "repo" . }}
		{{ end }} <!-- range -->
	</ul>
{{ end }} <!-- repos -->


{{ define "repo" }}
{{ if .fork }}{{ else }}

{{ if .language }}

{{ $isin := isrepeated .language "Go" "C" "Rust" "D" "Shell" }}
{{ $isGo := isrepeated .language "Go" }}
{{ $isLegalName := isrepeated .name "Posts" "zfs" "codesearch" "ed" "gofy" "rsc" "inflect" "fathertime" "gobuildtest" }}

{{ if $isLegalName }}{{ else }}
{{ if $isin }}
<li>
	{{ if $isGo }}
	<a href="https://sevki.org/{{.name}}">{{.name}}</a>
	{{ else }}
	<a href="https://github.com/sevki/{{.name}}">{{.name}}</a>
	{{ end }}
	{{ .description | linkify }} ― <tt>{{.language}}</tt> 

	{{ $since := jsondate .created_at | now.Sub }}
	
	{{ $new := lessthan $since.Hours 720 }}
	
	{{ if $new }}
	<img src="https://static.sevki.org/new.gif" alt="NEW"/>
	{{ end }}
</li>
{{ end }} <!-- isin -->
{{ end }} <!-- isLegalName -->
{{ end }} <!-- language -->
{{ end }} <!-- fork -->

{{ end }} <!-- repo -->

{{ define "feed" }}
<br/><b style="display:inline;">Notes  <a href="//fistfulofbytes.com/feed.atom"><span style="color:#f37538; border-radius:3px;  padding-right:3px; padding-left:3px;" class="octicon octicon-rss"></span></a></b> <br/>
{{ $feed := json "https://fistfulofbytes.com/.json" }}
<ul>
	{{ range $feed }}

	<li>
		{{ $Time := jsondate .Time }}
		<a href="{{.Link}}">{{.Title}}</a> ―
		<small style="color: silver;">{{ $Time.Month }} {{ $Time.Year }}</small>
		{{ $since := $Time | now.Sub }}
		
		{{ $new := lessthan $since.Hours 720 }}
		
		{{ if $new }}
		<img src="https://static.sevki.org/new.gif" alt="NEW" />
		{{ end }}
	</li>
	{{ end }} <!-- range -->
</ul>
{{ end }} <!-- feed -->

{{ define "other" }}
<br/><b style="display:inline;">Other stuff</b><br/>
<ul>
	<li>blog ― <a href="//fistfulofbytes.com/">fistful of bytes</a> </li>
	<li>git ― <a href="//git.sevki.org">Git repositories hosted at sevki.org</a> </li>
	<li>godoc ― <a href="//sevki.org/">sevki's lil' godoc</a> </li>
	<li>twitter ― <a href="https://twitter.com/sevki" rel="me">@sevki</a></li>
	<li>github ― <a href="https://github.com/sevki" rel="me">sevki</a></li>
	<li>pgp ― <a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x9C2BFEF6FB3B22FB">9C2B FEF6 FB3B 22FB</a></li>
	<li><a href="//plan9.io/">plan9.io</a> </li>
	<li><a href="//signed-off-by.me/">signed-off-by.me</a> </li>
	<li><a href="/static/art.html" rel="me">religion</a></li>
</ul>
{{ end }} <!-- other -->


{{ define "header" }}
<table>
	<tr>
		<td>
			<img  src="static/sevki.jpg" style="width: 150px;" alt="sevki" />
		</td>
		<td width=10 />
		<td style="vertical-align: middle;">
				<h1 style="display:inline;">Sevki Hasirci</h1><br/>
				<small>s@sevki.org</small>

		</td>
	</tr>
	<tr>
		<td/>
		<td width=10 />
		<td>
			I work at <del><a href="https://spotify.com">Spotify</a></del> <a href="https://typeform.com">Typeform</a> on distributed systems.
		</td>
	</tr>
</table>
{{ end }}


{{ define "projects" }}
<br/><b style="display:inline;">Interesting stuff</b><br/>
<p>
	<ul>
		<li>
			<a href="//bldy.build">bldy McBuildface</a><br/>
			<small>A <a href="https://bazel.build/">bazel</a> like build tool written in go</small>
		</li>
		<li>
			<a href="https://harvey-os.org">harvey</a><br/>
			<small>A distributed operating system</small>
		</li>
	</ul>
</p>
{{ end }} <!-- repos -->
