{{ define "root" }}
<html>
	<head>
		<link rel="stylesheet" href="/static/octicons/octicons.css">
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/static/main.css?{{.requestStart}}">
		<title>{{ template "title" . }}</title>
		<meta name=viewport content="width=device-width, initial-scale=1">
	</head>
	<body>
	    	{{template "content" .}}
		<address>
			<p/>
			<hr style="border-top: 0px solid #ccc;"/>
			<small><a href="/" >↩ home</a></small>
			<br/>
			<code>go-version:{{ gover }} render-time:{{ now.Sub .requestStart }} up-time:{{ now.Sub .start }}</code>
		</address>
	</body>
</html>
{{ end }}
