{{define "title"}}harvey related stuff{{end}}
{{define "content"}}
<center>
	<img src="http://harvey-os.org/img/harvey-os-logo.png" style="width:100px;" />
	<h2>Harvey-OS</h2>
	<a href="sys/man/1/0intro">intro</a> | 
	<a href="pulls">open pulls</a> | 
	<a href="issues">open issues</a> | 
	<a href="changelog">changelog</a> | 
	<a href="https://github.com/Harvey-OS/harvey">github</a> | 
	<a href="https://sevki.io/build/">build</a> 
</center>
<center>
	<img src="http://www.textfiles.com/underconstruction/HoHollywoodInterview9146construction.gif" style="width:574px;" />
	<br/>
	<img src="http://www.textfiles.com/underconstruction/ththe_gym_junkies_chalkbinunder-construction.gif" style="width:339px;" />

</center>
<div style="width:100px; position:absolute; left:-20px; bottom:0px; margin-bottom:-40px; width: 100px; height: 100px; overflow: hidden;">
	<img src="/static/spaceglenda100.png" style="opacity:.1" alt="bored during the systems systems maintainance meeting.">
</div>
{{end}}  <!-- content -->
