body{
    margin-left: 5%; 
    margin-right: 5%; 
}
address {
    color: gray;
}
address code {
    color:silver;
    font-family: monospace;
    background-color: transparent;
    padding: 0px;
}

ul
{
    margin:0px;
    margin-top: 5px;
    list-style-type: none;
    padding:0px;
    padding-left:10px;
}
td ul {
    margin: 0px;
}
td {
    vertical-align: top;
}
code {
    padding: 5px;
    background-color: #FFD;
    font-family: monospace;
}
pre {
    overflow: scroll;
    padding: 5px;
    background-color: #FFD;
    font-family: monospace;
    display: block;
    white-space: pre;
    margin: 1em 0px 1em;
}

font {
    font-size: medium;
    font-weight: bold;
}
